* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pangolin', cursive;
}

body {
    background-image: url("imagenes/Fondo.jpg");
    background-size: cover;
}

label {
    display: flex;
}
.contenedor {
    text-align: center;
    height: 90px;
    padding: 20px;
    color: rgb(0, 0, 0);
}

.container {
    border: 1px solid rgb(0, 0, 0);
    margin-top: 50px;
    background-color: rgb(255, 255, 255);
}

.datos {
    position: relative;
    bottom: 25px;
    width: 50%;
    /* border:3px solid rgb(192, 63, 145) ; */
    border-radius: 10px;
    margin-left: 40%;
}
.col{
    background-color: rgba(92, 154, 235, 0.5);
    box-shadow: 3px 8px 105px 9px;
}

.rtx {
    width: 50%;
    margin-left: 20%;
    margin-top: 10px;
    justify-content: center;
}

.mensaje{
    width: 60%;
    margin-left: 30%;
}

.mensaje-exito {
    font-size: 20px;
    color: green;
    font-weight: bold;
}
p{
    text-align: left;
}

.mb-3{
    border: 2px solid black;
    background-color: rgba(0, 255, 255, 0.248);
}

.center-container {
    display: flex;
    justify-content: center;
}

.animal-button {
    padding: 10px;
    background-color: #f0ad4e;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.animal-button:hover {
    background-color: #e69526;
}

.mensaje-error {
    position: relative;
    bottom: 25px;
    color: rgb(175, 3, 3);
    font-size: 14px;
    font-weight: 600;
    margin-left: 40%;
    margin-top: 5px;
}

.card-img-top{
   height: 40%;
}
.btn-danger{
    margin-right: 20px;
}



.tarjeta {
    border: 1px solid rgba(59, 229, 3, 0);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.tarjeta .card {
    max-width: 250px;
    text-align: center;
}

.tarjeta .card img {
    max-width: 100%;
}

.tarjeta .card-body {
    height: 350px;
    padding: 10px;
   
}

.tarjeta .card-title {
    font-size: 18px;
    font-weight: bold;
}


.tarjeta .card-text {
    font-size: 14px;
}

.card-sita-terminada {
    background-color: rgb(182, 224, 134);
    border: 3px solid rgb(255, 254, 254);
  }
  
  .card-sita-cancelada {
    background-color: rgb(229, 110, 110);
    border: 3px solid rgb(255, 255, 255);
  }

@media (max-width: 400px){
    .datos{
        margin: 30px;
        width: 70%;
    }

    .mensaje-error{
        position: relative;
        bottom: 50px;
        right: 50px;
    }


}